.section-header {
    margin-top: 48px;
}

/* .review-header {
    border-bottom: 0.0625rem solid #d8d9db;
    display: flex;
    justify-content: space-between;
    margin: 0 0 16px;
    padding-bottom: 16px;
} */

.header-text {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.75rem;
    color: #2d333f;
    margin: 0;
}
