.search-banner {
    width: 100%;
    height: 324px;
    background: linear-gradient(.647turn,#1a0a47cc,#0d1b4599 .01%,#0d1b45cc 51.04%,#0d1b45 99.1%);
    /* margin-left: 50px; */
    margin-right: 50px;
    padding: 0px;
}

.search-container{
    padding: 32px 16px 32px 16px;
}

.hero-CTA {
    color: white;
    font-size: 48px;
    line-height: 56px;
    margin: 0 0 16px;
    text-align: center;
}
