.sign-in-button {
    background-color: white;
    color: black;
    border-color: gray;
}

/* form {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
