.sign-in-button {
    background-color: white;
    color: black;
    border-color: gray;

    display: inline-block;
}

#alternate-button-container {
    text-align: center;
    margin-top: 16px;
}

.alternate-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
    cursor: pointer;
}

.alternate-button:hover {
    text-decoration: underline;
}

/* form {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
